{% extends 'base.html.twig' %}

{% block title %}{{ 'login.pageTitle'|trans }}{% endblock %}

{% block body %}
<div class="bg-neutral-600 flex justify-center items-center px-8 pt-6 pb-8 w-full h-screen">
    <form method="post" class="bg-neutral-800 rounded-xl px-8 pt-6 pb-4 mt-8 mb-2 w-2/6 h-4/6 flex flex-col justify-between">
    {% if error %}/
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

        <h1 class="text-4xl font-bold text-center text-white loginText">{{ 'login.pageTitle'|trans }}</h1>
        <div>
            <div class="flex flex-col mb-8">
                <label for="inputEmail" class="font-bold text-xl text-white">{{ 'login.email'|trans }}</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control bg-neutral-800 border-b-2 border-white px-2 py-2 text-white" autocomplete="email" required autofocus placeholder="{{'login.yourEmail'|trans}}" >
            </div>
            <div class="flex flex-col">
                <label for="inputPassword" class="font-bold text-xl text-white">{{ 'login.password'|trans }}</label>
                <input type="password" name="password" id="inputPassword" class="form-control bg-neutral-800 border-b-2 border-white px-2 py-2 text-white" autocomplete="current-password" required placeholder="{{'login.yourPassword'|trans}}">
            </div>
        </div>
        <div class="flex flex-col items-center gap-2">
            <button class="btn btn-lg btn-primary font-bold bg-green-300 py-2 px-2 border-2 border-black rounded" type="submit">{{ 'button.login'|trans }}</button>
            <h2 class="text-xl text-white">{{'login.noAccount'|trans}}</h2>
            <a href="{{ path('app_register') }}" class="font-bold text-white">{{ 'login.createAccount'|trans }}</a>
        </div>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

</form>
</div>
{% endblock %}
