{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-slate-100 px-8 pt-6 pb-8 flex flex-col justify-center items-center h-screen gap-10">
        <div class="bg-white rounded-xl px-8 pt-6 pb-8 flex justify-between gap-10">
                <div>
                {% if product.image is not null %}
                    <img src="{{ asset('/uploads/'~ product.image) }}" style="max-width: 400px;"/>
                {% else %}
                    <img src="{{ asset('/uploads/default-placeholder.png') }}" alt="{{ product.name }}" style="max-width: 400px;">
                {% endif %}
                </div>
                <div class="flex flex-col justify-between gap-10">
                    <h1 class="text-3xl font-bold">{{ product.name }}</h1>
                    <p>{{ product.description|raw }}</p>
                    <div class="flex justify-between items-end gap-20 ">
                        <p class="font-bold">€ {{ product.price }}</p>
                        {# Il doit être possible d’ajouter le produit au panier à partir de cette page à condition d’être connecté. L’utilisateur connecté doit automatiquement être attribué à la commande. #}
                        {% if app.user is not null %}
                            <a href="{{ path('app_product_add', {'id': product.id}) }}" class="btn btn-primary bg-green-300 py-2 px-2 rounded shadow-md"><i class="fas fa-basket-shopping mr-2"></i>Ajouter au panier</a>
                        {% endif %}
                    </div>
                </div>
        </div>

        {# Si vous êtes connecté avec un rôle ROLE_ADMIN, vous devez pouvoir modifier ou supprimer le produit. #}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="flex gap-6">
                <a href="{{ path('admin') }}?entity=Product&crudAction=edit&entityId={{product.id}}" class="btn btn-primary text-white bg-black py-2 px-2 rounded shadow-md">Modifier le produit</a>
                <a href="{{ path('admin') }}?entity=Product&crudAction=delete&entityId={{product.id}}" class="btn btn-primary text-white bg-red-600 py-2 px-2 rounded shadow-md">Supprimer le produit</a>
            </div>
        {% endif %}
    </div>
{% endblock %}