{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-3xl font-bold">{{ product.name }}</h1>
    <p>Description : {{ product.description }}</p>
    <p>Prix : {{ product.price }} €</p>
    <p>Stock : {{ product.supply }}</p>
    {% if product.image is not null %}
        <img src="{{ asset('/uploads/'~ product.image) }}" style="max-width: 100px;"/>
    {% endif %}

    {# Il doit être possible d’ajouter le produit au panier à partir de cette page à condition d’être connecté. L’utilisateur connecté doit automatiquement être attribué à la commande. #}
    {% if app.user is not null %}
        <a href="" >Ajouter au panier</a>
    {% endif %}

    {# Si vous êtes connecté avec un rôle ROLE_ADMIN, vous devez pouvoir modifier ou supprimer le produit. #}
    {% if is_granted('ROLE_ADMIN') %}
    <div>
        <a href="{{ path('admin') }}" >Modifier le produit</a>
        <a href="{{ path('admin') }}" >Supprimer le produit</a>
    </div>
    {% endif %}
{% endblock %}