{% extends 'base.html.twig' %}

{% block title %}{{ 'stripe.orderConfirmation'|trans }}{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold">{{ 'stripe.orderConfirmed'|trans }}</h1>
    
    <p class="mt-4 mb-8">{{ 'stripe.orderSaved'|trans }}</p>

    <a href="{{ path('app_product') }}" class="btn btn-lg btn-primary font-bold bg-green-300 py-2 px-2 border-2 border-black rounded-xl">{{ 'button.returnHome'|trans }}</a>
{% endblock %}
