<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ecommerce - Sneakers Peek{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# MENU #}
        <header>
            <nav class="flex flex-column justify-between items-center bg-neutral-800 text-white px-8 py-6">
                <div>
                    <ul class="flex flex-column justify-center gap-5">
                        <li><a href="{{ path('app_product') }}">ACCUEIL</a></li>
                        {% if app.user %}
                            <li>
                                <p class="font-bold">Bonjour {{ app.user.firstName }} {{ app.user.lastName }} !</p>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div>
                    <ul class="flex flex-column justify-center gap-5">
                            <li>
                                <a href="{{ path('app_basket') }}"><i class="fas fa-basket-shopping mr-2 text-xl"></i>PANIER</a>
                            </li>
                        {% if app.user %}
                            <li>
                                <a href="{{ path('app_user') }}">Mon compte</a>
                            </li>
                            <li>
                                <a href="{{ path('app_logout') }}" class="text-green-300 py-2 px-2 border border-green-300 rounded-xl">SE DÉCONNECTER<i class="fas fa-sign-out ml-2"></i></a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('app_login') }}" class="text-green-300 py-2 px-2 border border-green-300 rounded-xl">CONNEXION</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        {# MESSAGES d'ERREUR FLASH #}
        {% for type, messages in app.flashes %}
            {% for m in messages %}
                <p class="alert alert-{{type}} absolute top-25 right-1/2 transform translate-x-1/2 -translate-y-1/2 w-10/12">{{ m }}</p>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </body>
</html>
