<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# MENU #}
        <header>
            <nav class="flex flex-column justify-between items-center bg-neutral-800 text-white px-8 py-6">
                <div>
                    <ul class="flex flex-column justify-center gap-5">
                        <li><a href="{{ path('app_product') }}">Accueil</a></li>
                        {% if app.user %}
                            <li>
                                <p class="font-bold">Bonjour {{ app.user.firstName }} {{ app.user.lastName }} !</p>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div>
                    <ul class="flex flex-column justify-center gap-5">
                            <li>
                                <a href="{{ path('app_basket') }}">Mon panier</a>
                            </li>
                        {% if app.user %}
                            <li>
                                <a href="{{ path('app_user') }}">Mon compte</a>
                            </li>
                            <li>
                                <a href="{{ path('app_logout') }}">Déconnexion</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('app_login') }}">Connexion</a>
                            </li>
                            <li>
                                <a href="{{ path('app_register') }}">Inscription</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        {# MESSAGES d'ERREUR FLASH #}
        {% for type, messages in app.flashes %}
            {% for m in messages %}
                <p class="alert alert-{{type}}">{{ m }}</p>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </body>
</html>
