{% extends 'base.html.twig' %}

{% block title %}{{ 'error.errorType404'|trans }}{% endblock %}

{% block body %}
<div class="bg-neutral-600 flex justify-center items-center px-8 pt-6 pb-8 w-full h-screen">
    <div class="bg-white px-10 py-10 rounded-xl flex flex-col justify-center items-center gap-10">
        <img src="{{ asset('/errors/404.png') }}" alt="erreur 404">
        <h1 class="text-3xl font-bold">{{ 'error.errorTitle404'|trans }}</h1>
        <div class="flex flex-col items-center gap-2">
            <h2 class="text-2xl">{{ 'error.errorType404'|trans }} : {{ 'error.error404'|trans }}</h2>
            <p>{{ 'error.errorDescription404'|trans }}</p>
        </div>
        <a class="btn btn-lg btn-primary font-bold bg-green-300 py-2 px-2 border-2 border-black rounded" href="{{ path('app_product') }}">Retour à l'accueil</a>
                </div>
    </div>
</div>
{% endblock %}